<!DOCTYPE html>
<html>
  <head>
    <title>Web Development</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%= render  :partial=>'/layouts/header' %>
      <%= yield %>
    </div>
    <div class="container">
      <% if user_signed_in? %>
        <%= current_user.is_admin?%>
                              
       <% end %>
    </div>

  </body>
</html>
